In [2]:
import pandas as pd

In [4]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })

def delete_columns(df, col=[]):
    try:
        df.drop(col, axis=1, inplace=True)
        return df
    except KeyError:
        return None

delete_columns(customer_df, 'number')

   cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0      128        13       0.00             2008        1400
1     1201        21       0.00             2000       14142
2     9832        19       0.20             2002         900
3     4392        21       0.15             2000        1240
4     7472        60       0.30             1961        8430

In [5]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['density'] = countries_df['population']*1e6/countries_df['square']
round(countries_df['density'].mean(), 2)

84.93

In [5]:
ufo_df = pd.read_csv('Data/ufo.txt')
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=False)
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 712.7+ KB

In [11]:
type(ufo_df['Time'].dt.date.iloc[1])

datetime.date

In [8]:
ufo_nv = ufo_df[ufo_df['State'] == 'NV']
ufo_nv['Date'] = ufo_nv['Time'].dt.date
ufo_nv['Date'].diff().mean()

C:\Users\SVasilchenko\AppData\Local\Temp\ipykernel_22292\3547419383.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_nv['Date'] = ufo_nv['Time'].dt.date

Timedelta('68 days 22:18:13.992932862')

In [9]:
ufo_df['Date'] = ufo_df['Time'].dt.date
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813

In [10]:
test_series_1 = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

In [11]:
# получаем опыт работы в месяцах из строки
def get_experience(st):
    lst = st.split()
    if len(lst) == 6:
        return int(lst[2])*12 + int(lst[4])
    if lst[-1].startswith('мес'):
        return int(lst[2])
    return int(lst[2])*12
        
test_series_1.apply(get_experience)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [12]:
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)